In [0]:
import pandas as pd
import numpy as np
import os

In [0]:
os.chdir('/content/gdrive/My Drive/Colab Notebooks')

In [0]:
df.shape

(2811774, 7)

In [0]:
df.head(10)

   tweet_id   author_id  ...  response_tweet_id in_response_to_tweet_id
0         1  sprintcare  ...                  2                     3.0
1         2      115712  ...                NaN                     1.0
2         3      115712  ...                  1                     4.0
3         4  sprintcare  ...                  3                     5.0
4         5      115712  ...                  4                     6.0
5         6  sprintcare  ...                5,7                     8.0
6         8      115712  ...             9,6,10                     NaN
7        11  sprintcare  ...                NaN                    12.0
8        12      115713  ...           11,13,14                    15.0
9        15  sprintcare  ...                 12                    16.0

[10 rows x 7 columns]

In [0]:
df2 = df.copy()
df2 = df2[df2['inbound'] == True]

df3 = df2.copy()

merged2 = pd.merge(df2, df, left_on='tweet_id', right_on='in_response_to_tweet_id')

In [0]:
merged2.shape

(1450335, 14)

## Features

**inbound:** Whether or not the tweet was sent (inbound) to a company  

**created_at:** When the tweet was created  

**text:** The text content of the tweet  

**response_tweet_id:** The tweet that responded to this one, if any  

**in_response_to_tweet_id:** The tweet this tweet was in response to, if any

###Note on Pre-processing

If **in_response_to_tweet_id** is null, this tweet is essentially the first tweet in a conversation.

In [0]:
df[df['in_response_to_tweet_id'].isnull()]

         tweet_id author_id  ...  response_tweet_id in_response_to_tweet_id
6               8    115712  ...             9,6,10                     NaN
12             18    115713  ...                 17                     NaN
14             20    115715  ...                 19                     NaN
23             29    115716  ...                 28                     NaN
25             31    115717  ...                 30                     NaN
...           ...       ...  ...                ...                     ...
2811763   2987942    823867  ...            2987941                     NaN
2811765   2987944    823868  ...            2987943                     NaN
2811768   2987946    524544  ...            2987945                     NaN
2811770   2987948    823869  ...            2987947                     NaN
2811773   2987950    823870  ...    2987951,2987949                     NaN

[794335 rows x 7 columns]

In [0]:
temp = df[df['in_response_to_tweet_id'].isnull()]

In [0]:
df.head(20)

    tweet_id     author_id  ...  response_tweet_id in_response_to_tweet_id
0          1    sprintcare  ...                  2                     3.0
1          2        115712  ...                NaN                     1.0
2          3        115712  ...                  1                     4.0
3          4    sprintcare  ...                  3                     5.0
4          5        115712  ...                  4                     6.0
5          6    sprintcare  ...                5,7                     8.0
6          8        115712  ...             9,6,10                     NaN
7         11    sprintcare  ...                NaN                    12.0
8         12        115713  ...           11,13,14                    15.0
9         15    sprintcare  ...                 12                    16.0
10        16        115713  ...                 15                    17.0
11        17    sprintcare  ...                 16                    18.0
12        18        115713  ...                 17                     NaN
13        19    sprintcare  ...                NaN                    20.0
14        20        115715  ...                 19                     NaN
15        21  Ask_Spectrum  ...              22,23                    24.0
16        22        115716  ...                 25                    21.0
17        25  Ask_Spectrum  ...                 26                    22.0
18        26        115716  ...                 27                    25.0
19        27  Ask_Spectrum  ...                NaN                    26.0

[20 rows x 7 columns]

In [0]:
df1 = df.copy()

In [0]:
tweets = df

first_inbound = tweets[pd.isnull(tweets.in_response_to_tweet_id) & tweets.inbound]
##check to make sure this is a first time query and make sure that it is to a company

QnR = pd.merge(first_inbound, tweets, left_on='tweet_id', 
                                  right_on='in_response_to_tweet_id')

In [0]:
merged = pd.merge(df, df1, left_on='tweet_id', right_on='in_response_to_tweet_id')

In [0]:
subset = ['tweet_id_x', 'text_x', ]
merged.head()

   tweet_id_x author_id_x  ...  response_tweet_id_y in_response_to_tweet_id_y
0           1  sprintcare  ...                  NaN                       1.0
1           3      115712  ...                    2                       3.0
2           4  sprintcare  ...                    1                       4.0
3           5      115712  ...                    3                       5.0
4           6  sprintcare  ...                    4                       6.0

[5 rows x 14 columns]

In [0]:
y = merged[merged['tweet_id_x'] == 12]
print(y.iloc[0]['text_y'])
print(y.iloc[1]['text_y'])
print(y.iloc[1]['text_x'])

@115713 This is saddening to hear. Please shoot us a DM, so that we can look into this for you. -KC
@115713 I would really like to work with you to have this resolved. Kindly send us a DM. I'm here for you! -ResolutionSup SR
@sprintcare You gonna magically change your connectivity for me and my whole family ? ü§• üíØ

In [0]:
test = merged[['tweet_id_x','text_x', 'text_y', 'in_response_to_tweet_id_y']].sample(10, random_state=21)

In [0]:
merged[['tweet_id_x','text_x', 'text_y', 'in_response_to_tweet_id_y']].sample(10, random_state=21)

         tweet_id_x  ... in_response_to_tweet_id_y
1717926     2544251  ...                 2544251.0
1581555     2341576  ...                 2341576.0
699339      1016907  ...                 1016907.0
1105732     1610411  ...                 1610411.0
1591479     2356109  ...                 2356109.0
282775       408237  ...                  408237.0
982738      1429375  ...                 1429375.0
1994344     2958251  ...                 2958251.0
582776       850238  ...                  850238.0
349511       505106  ...                  505106.0

[10 rows x 4 columns]

In [0]:
n = 1

print(test.iloc[n]['text_x'])
print(test.iloc[n]['text_y'])

@115850 Order # 405-4147402-7867522 i am wiling to accept delivery, and i did not return it. Wrongly updated by yr delivery agents.
@677316 I request you to place a new order. I have noted and forward your feedback internally. 2/3 ^VH

In [0]:
test.iloc[1]['text_y']

'@677316 I request you to place a new order. I have noted and forward your feedback internally. 2/3 ^VH'

In [0]:
merged2['author_id_y'].value_counts()[0:10]

AmazonHelp         168814
AppleSupport       106646
Uber_Support        56160
SpotifyCares        43092
Delta               42114
Tesco               38468
AmericanAir         36531
TMobileHelp         34215
comcastcares        32921
British_Airways     29290
Name: author_id_y, dtype: int64

In [0]:
amz = merged2[merged2['author_id_y'] == 'AmazonHelp']

amz.head(10)

     tweet_id_x author_id_x  ...  response_tweet_id_y in_response_to_tweet_id_y
96          271      115770  ...                  274                     271.0
97          274      115770  ...                  NaN                     274.0
98          272      115770  ...              270,271                     272.0
124         325      115792  ...                  NaN                     325.0
180         616      115820  ...                  619                     616.0
181         617      115820  ...                  616                     617.0
182         621      115822  ...                  NaN                     621.0
183         623      115824  ...                  NaN                     623.0
184         624      115824  ...                  623                     624.0
185         627      115827  ...                  NaN                     627.0

[10 rows x 14 columns]

In [0]:
check = amz.iloc[0]['text_x']
check

'@AmazonHelp ÈõªË©±„ÅßÂØæÂøú„Åó„Å¶„ÇÇ„Çâ„ÅÑ„Åæ„Åó„Åü„ÅåÊîπËâØ„Åï„Çå„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ\n‰øùË®ºÊúüÈñì„ÇÇÈÅé„Åé„Å¶„Çã„ÅÆ„ÅßË≤∑„ÅÑÁõ¥„Åó„Å´„Å™„Çã„Çì„Åß„Åó„Çá„ÅÜ„Å≠„ÄÇ'

In [0]:
import re

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

s = "@121649 We haven't received it'll your details yet. Kindly fill your details once again in the link provided earlier &amp; we'll get in touch. ^SY"
#print(s)

#amz['isEnglish'] = amz['text_x'].apply(isEnglish)
def clean_tweet(s):
    s = re.sub(r"[@\^&]\S+", "", s)
    #s = re.sub(r"[^a-zA-Z.!?':/]+", r" ", s)
    s = re.sub(r"[^a-zA-Z0-9.!?':\/-]+", r" ", s)
    #return len(s.strip().split())
    return s.strip()

def get_length(s):
    return len(s.strip().split())

clean_tweet(s)

"We haven't received it'll your details yet. Kindly fill your details once again in the link provided earlier we'll get in touch."

In [0]:
subset = amz[['text_x', 'text_y']]
subset['clean_x'] = subset['text_x'].apply(clean_tweet)
subset['clean_y'] = subset['text_y'].apply(clean_tweet)
subset['len'] = subset['clean_x'].apply(get_length)
subset.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                                text_x  ... len
96   @AmazonHelp ÈõªË©±„ÅßÂØæÂøú„Åó„Å¶„ÇÇ„Çâ„ÅÑ„Åæ„Åó„Åü„ÅåÊîπËâØ„Åï„Çå„Åæ„Åõ„Çì„Åß„Åó„Åü„ÄÇ\n‰øùË®ºÊúüÈñì„ÇÇÈÅé„Åé...  ...   0
97                       @AmazonHelp „Åì„Å°„Çâ„Åì„Åù„ÅÇ„Çä„Åå„Å®„ÅÜ„Åî„Åñ„ÅÑ„Åæ„Åó„Åü„ÄÇ  ...   0
98                            amazon„ÅÆfireTVstick„ÅåË¶ã„Çå„Å™„ÅÑüò¢  ...   2
124                           amazon„Éó„É©„Ç§„É†„Éì„Éá„Ç™„ÄÅÂÜçÁîü„Ç®„É©„Éº„ÅåÂ§ö„ÅÑ„Åß„Åô  ...   1
180  @AmazonHelp 3 different people have given 3 di...  ...  25

[5 rows x 5 columns]

In [0]:
sub = subset[subset['len'] > 3]
sub.shape

final2 = subset[subset['len'] >= 2]

In [0]:
final = subset[subset['len'] > 3].sample(10, random_state=75)

In [0]:
 subset[subset['len'] > 3].shape

(151383, 5)

In [0]:
n = 3

print(final.iloc[n]['text_x'])
print(final.iloc[n]['text_y'])
print('')
print(final.iloc[n]['clean_x'])
print(final.iloc[n]['clean_y'])

@115850 i bought memory card&amp;adapter.I received package in üëå condi. I received memory card in üëåCondi but adapter is not working properly.
@403409 Apologies for the inconvenience. Have you tried reporting this to our support team here: https://t.co/2t6DQoUmNZ ? ^AB

i bought memory card received package in condi. I received memory card in Condi but adapter is not working properly.
Apologies for the inconvenience. Have you tried reporting this to our support team here: https://t.co/2t6DQoUmNZ ?

In [0]:
s = "Apologies Eugenie. Please reach out - https://t.co/JzP7hlA23B we'll be happy to look into this further.^TP"

clean_tweet(s)

"Apologies Eugenie. Please reach out - https://t.co/JzP7hlA23B we'll be happy to look into this further."

In [0]:
amz[amz['isEnglish'] == False].sample(10)

         tweet_id_x author_id_x  ...  in_response_to_tweet_id_y isEnglish
224961       472357      227492  ...                   472357.0     False
334643       706428      288889  ...                   706428.0     False
829957      1719188      520458  ...                  1719188.0     False
582678      1213524      404822  ...                  1213524.0     False
135996       286323      184209  ...                   286323.0     False
804759      1668372      508084  ...                  1668372.0     False
1373408     2828721      124468  ...                  2828721.0     False
472398       988095      354112  ...                   988095.0     False
879459      1820599      546564  ...                  1820599.0     False
231852       487684      231084  ...                   487684.0     False

[10 rows x 15 columns]

In [0]:
amz.loc[829957]['text_x']

'@AmazonHelp It‚Äôs ok , you people how fool the customer and play with customer money every one should know about it'

In [0]:
df.shape

(158934, 2)

In [0]:
df = final2[['clean_x', 'clean_y']]
df.columns = ['Questions', 'Answers']
print(df.sample(10, random_state=38).iloc[5]['Questions'])
print(df.sample(10, random_state=38).iloc[5]['Answers'])

Seems to be refund only if I wait and there is a restock within 30 days would I be able to see a replacement option?
Those seem to be the only options at this time. Feel free to check back to see if it updates with more availability.

In [0]:
df.to_csv('chatbot_data.csv', index=False)

In [0]:
cc = pd.read_csv('chatbot_data.csv')
cc

                                                Questions                                            Answers
0                                      amazon fireTVstick           Fire TV Stick https://t.co/2pbG55qJ7h ET
1       3 different people have given 3 different answ...  We'd like to take a further look into this wit...
2       Way to drop the ball on customer service so pi...  I'm sorry we've let you down! Without providin...
3       I want my amazon payments account CLOSED. dm m...  I am unable to affect your account via Twitter...
4                                 Okay danke f r die Info           Wir haben zu danken. Sch nen Abend noch.
...                                                   ...                                                ...
158929  there should be bonus and gifts for regular cu...  We do not have any such offer at this point in...
158930                                         Amazon DVD                         https://t.co/J6YEizFHia SM
158931              Amazon Amazon https://t.co/SLol5IqIiO                         https://t.co/st4oU5QbhP YM
158932                  ww Amazon https://t.co/Frn8ZegIuB  https://t.co/st4oU5QbhP https://t.co/hY0XTcbk1...
158933  Se ores de estoy confuso sobre el p blico dest...  Hola Crisp n! Lamento mucho la confusi n causa...

[158934 rows x 2 columns]

In [0]:
print(df.sample(10, random_state=21).iloc[8]['Questions'])
print(df.sample(10, random_state=21).iloc[8]['Answers'])

yet I haven t received it today any reason why you can t guarantee delivery on the day of release? As I m told it ll probably be tomorrow
I'm sorry for the trouble. Did we miss the scheduled delivery date for the order?

In [0]:
df.sample(10, random_state=21)

                                                 Questions                                            Answers
598608   Yes. Was suppose to be received today got a no...  Thanks for confirming! Has your order been ass...
464425   Very bad feeling with amazon alway send used a...  We're sorry to hear this. Please report this t...
862800   To wait a day. I understand it's busy however ...  I fully understand your frustration. This is d...
710261   and your representative just gave us the phone...  I'm so sorry! We'd like to look into this for ...
1124338  Now no more rushing to the theatres when amazo...  We are glad to see you happy with our content ...
1084310                                il faut qu'on parle               Bonjour comment peut-on vous aider ?
1047412  Order 171-5764201-1646726 Placed paid online. ...  Once an order is placed we cannot add items to...
463429   while ordering getting below error please help...  Looks like the option of scheduled delivery is...
646892   yet I haven t received it today any reason why...  I'm sorry for the trouble. Did we miss the sch...
469402    They are not refunding money for damaged product  Sorry for any trouble with the order. Could yo...